<!doctype html>
<html lang="en">
  <head>
    {% include "components/meta.njk" %}
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    {% include "components/header.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}
    
    <script>
      {% include "js/example.js" %}
    </script>
  </body>
</html>